html {
    background-image: linear-gradient(to bottom right, #f8e4e4, white);
}

.header {
    font-size: 38px;
    text-align: center;
}

.image {
    text-align: center;
    float: right;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

.secondImage {
    float:left;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
    font-size: 23px;
    text-align: center;
    padding-left: 30px;
}

#instructions {
    font-size: 25px;
    text-align: center;
    padding-left: 20px;
    letter-spacing: 6px;
}

.button {
    background-image: linear-gradient(to bottom right, rebeccapurple, white);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: static;
    font-weight: bold;
    position:relative;
}

/* moving the button in the middle */
#wrapper {
    text-align: center;
}

/* style of the navigation bar */
#topnav {
    overflow: hidden;
    background-color: #f8e4e4;
}

/* style of the content of the navigation bar*/
.navigation {
    float: right;
    color: black;
    font-size: 3em;
    font-weight: bolder;
    padding: 5px 60px;
    text-decoration: none;
    font-family: cursive;
    font-size: 2.0em;
}

#nextStop {
    display:none;
}
